<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
<bean id="helloWorld" class="madurai.HelloWorld">
    <property name="message" value="Hello World"></property>
</bean>

<bean id="edu" class="madurai.Academic">
    <property name="degree" value="ME(CS)"/>
    <property name="cgp" value="9.6"/>
</bean>

<bean id="edu2" class="madurai.Academic">
    <property name="degree" value="BSc"/>
    <property name="cgp" value="8.7"/>
</bean>

<bean id="academic" class="madurai.Academic">
    <property name="degree" value="MSc(CS)"/>
    <property name="cgp" value="7.9"/>
</bean>

<bean id="emp" class="madurai.Employee">
    <property name="empid" value="10001"/>
    <property name="name" value="Priyaa.S"/>
    <property name="job" value="Engr"/>
    <property name="salary" value="60000"/>
    <property name="academic" ref="edu"/>
</bean>

<bean id="emp2" class="madurai.Employee">
    <constructor-arg ref="edu"/>
    <constructor-arg index="0" value="10002"/>
    <constructor-arg index="1" value="Harini.S"/>
    <constructor-arg index="2" value="Engr"/>
    <constructor-arg index="3" value="50000"/>
</bean>

<bean id="emp3" class="madurai.Employee" autowire="byType">    
    <property name="empid" value="10003"/>
    <property name="name" value="Rani.S"/>
    <property name="job" value="Admin"/>
    <property name="salary" value="30000"/>
</bean>

<bean id="emp4" class="madurai.Employee" autowire="constructor">    
    <property name="empid" value="10004"/>
    <property name="name" value="SasiKumar.A.M"/>
    <property name="job" value="S/W Trainer"/>
    <property name="salary" value="28000"/>
</bean>


</beans>